/* * Genel ayarlar * */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body{
    font-family: 'Roboto', sans-serif;
}   

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display",serif;
    color: #1a1a1a;
}

/* * Navbar stil ayarları * */
nav {
    width: 100%;
    min-height: 90px;
    padding-top: 20px;
    background-color: #fff;
}

.navbar {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 12px;
    margin: 0 auto;
    gap: 10px;
    
}

.nav-logo{
    padding: 5px 0;
    cursor: pointer;
}

.navbar-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.navbar-card form {
    position: relative;
}

.navbar-card form input {
    width: 400px;
    padding: 15px 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #3333338e;
}

.navbar-card form i {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #ff1616;
    cursor: pointer;
}

.nav-link ul {
    display: flex;
    max-width: 388px;
    width: 100%;
    color: #454e6d;
    gap: 33px;
    justify-content: flex-end;
}

.nav-link ul li {
    padding: 15px 0;
    text-align: center;
}
.nav-link ul li a {
    color: #232f55;
}
.nav-link ul li a:hover{
    color: #ff1616;
}

.nav-link ul li a img {
    width: 20px;
    margin-top: -2px;
}

.sign-btn .button {
    margin-top: -15px;
    background-color: #ff1616;
    border-radius: 28px;
    padding: 5px 34px;
    color: #fff;
    background: linear-gradient(to right, #e21414 50%, #ff1616 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.4s ease-out;
}

.sign-btn .button:hover {
    background-position: left bottom;
    cursor: pointer;
}

.sign-btn .button div {
    padding: 10px;
    border-radius: 28px;
    transition: background-position 0.5s ease-in-out;
}

.sign-btn .button:hover div {
    background-size: 200% auto;
    background-position: left center;
}
            /* * Nav-Menu * */
header {
    width: 100%;
    height: 64px;
    background-color: rgba(254, 244, 244);
    position: relative;
    z-index: 1000;
    
}
.fixed{
    position: fixed;
    top: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.7s ease;
}

header .nav-menu {
    display: flex;
    justify-content: center;
    height: 0;
    padding-top: 25px;
}

.nav-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li {
    padding: 0px 20px 40px;
    position: relative;
}
.nav-menu  ul li a {
    color: #232f55;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.4s;
}


.nav-menu ul li:hover > a {
    color: #ff1616;
}
.nav-menu ul li:hover{
    cursor: pointer;
}
.nav-pages ul {
    display: none;
    position: absolute;
    top: 95%;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.nav-menu ul li:hover > ul {
    display: inherit;
}

.nav-pages ul li {
    width: 170px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.nav-pages ul li:hover{
    letter-spacing: 1px;
    cursor: pointer;
}
.nav-pages ul li:hover a{
    color: #ff1616;
}
.nav-pages ul li a {
    color: #0b1c39;
    font-weight: 600;
    font-size: 14px;
}
.nav-menu ul li a i{
    display: none;
}
        /* * Nav-Menu hamburger * */
.nav-header {
    display: none;
}
.nav-toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

            /* * Slider * */
.slider-section {
    width: 100%;
    height: 580px;
    background-color: #fef4f4;
    padding: 0 20px;
}

.sliders {
    max-width: 1320px;
    width: 100%;
    height: 580px;
    margin: 0 auto;
    padding: 0 12px;
    position: relative;
}

.slider {
        display: none;
}

.slider.active {
    display: block;
    position: relative; 
}

.slider img {
    max-width: 1320px;
    width: 100%;
    height: 580px;
    position: absolute;
    z-index: 1;
}

.slider-card {
    max-width: 400px;
    width: 100%;
    height: 435px;
    margin: 0 auto;
    position: relative;
    padding-top: 146px;
    overflow: hidden;
    z-index: 1;
    animation: slideIn 1s ease-in-out;
}

.slider-science {
    width: 128px;
    font-size: 14px;
    padding: 6px 17px;
    border-radius: 30px;
    background-color: #ffffff;
    margin: 40px auto 20px;
    transform: translateY(-40px);
    transition: transform 0.7s ease-in-out;
}

.slider-science p {
        width: 128px;
        color: #1a1a1a;
}

.slider-card h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin: 150px auto 34px ;
    font-family: 'Playfair Display', sans-serif;
    transform: translateY(-160px);
    transition: transform 0.7s ease-in-out;
    font-weight: 600;
}

.slider-btn {
    width: 200px;
    margin: 0 auto 0;
    transform: translateY(-170px);
    transition: transform 0.7s ease-in-out;
    border-radius: 35px;
    position: relative;
}
.slider-btn:hover {
    background-position: left bottom;
    cursor: pointer;
}
.slider-btn div {
    width: 200px;
    padding: 25px 25px;
    border-radius: 35px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(to right, #e21414 50%, #ff1616 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.7s ease-out;
    transition: background-position 0.5s ease-in-out;
    position: absolute;
    animation: slideBtn 0.7s ease-in-out;
}            
.slider-btn:hover div {
    background-size: 200% auto;
    background-position: left center;
    cursor: pointer;
}
@keyframes slideBtn{
    0% {
        transform: scale(1);
        opacity: 0;
    }
    25%{
        transform: scale(0.7);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes slideIn {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.slider-circle-btn {
    display: flex;
    position: absolute;
    margin-top: 100px;
    z-index: 10;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}
.slider-circle-btn li{
    padding: 0 5px;
    position: relative;
}
.slider-circle-btn li button{
    border-radius: 50%;
    border: none;
    position: relative;
    background-color: transparent;
    cursor: pointer;
}
.slider-circle-btn li button .box {
    display: none;
    font-size: 27px;
    position: absolute;
    color: #fff;
    transition: all 0.3s ease;
}
    
.slider-circle-btn li button.active .box {
    display: block;
}
.slider-circle-btn li button .dot{
    font-size: 8px;
    color: #fff;
    margin: 9.5px ;
}
.fixed-icon{
    display: none;
    position: fixed;
    border-radius: 50%;
    right: 30px;
    top: 90%;
    z-index: 2100;
}
.active-fixed{
    display: block;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.fixed-btn{
    width: 50px;
    height: 50px;
    background-color: #ff1616;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed-btn i{
    color: #fff;
    font-size: 16px;
}

            /* * Book Category * */
.category-section{
    width: 100%;
    height: 350px;
    padding: 0 12px;
}
.category{
    max-width: 1320px;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background: no-repeat center/cover  url(images/evil-spooky-pumpkin.webp);
}
.category h1{
    font-size: 50px;
    text-align: center;
    padding: 148px 0 0;
    color: #fff;
    font-family: "Playfair Display",sans-serif;
}

            /* * Book Filter * */

.book-section {
    width: 100%;
    height: 1789px;
    padding: 50px 0;
    overflow: auto;
}

.book-grid {
    max-width: 1320px;
    width: 100%;
    padding: 0 12px;
    display: grid;
    grid-template-columns: 440px repeat(auto-fit, minmax(220px,1fr)) ;
    margin: 0 auto;
}
            /* * Book Filter */
.book-filter {
    max-width: 428px;
    width: 100%;
    height: 1025px;
    padding: 30px 31px 30px 42px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.book-genres{
    max-width: 365px;
    width: 100%;
    padding-bottom: 60px;
}
.book-genres h4{
    color: #1a1a1a;
    padding-bottom: 22px;
    font-size: 24px;
}
.book-genres div label{
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    color: #232f55;
}
.book-genres div label input{
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.book-genres div label .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(51, 51, 51,0.2);
}
.book-genres div label:hover input ~ .checkmark {
    background-color: #fff;
    cursor: pointer;
}

.book-genres div label input:checked ~ .checkmark {
    background-color: #ff1616;
}
.book-genres div label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.book-genres div label input:checked ~ .checkmark:after {
    display: block;
}
.book-genres div label .checkmark:after {
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
}

            /* * Filter Price */

.wrapper-price{
    position: relative;
    max-width: 305px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}
.wrapper-price h4{
    color: #1a1a1a;
    margin-bottom: 10px;
    font-size: 24px;
}
.filter-price{
    position: relative;
    max-width: 245px;
    width: 100%;
    height: 55px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.filter-price input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.filter-price .slider-track{
    max-width: 305px;
    width: 100%;
    height: 2px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
.filter-price input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
.filter-price input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #d63384;
    cursor: pointer;
    margin-top: -5px;
    pointer-events: auto;
    border-radius: 5px;
}

.wrapper-price .values{
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: -25px;
    padding-left: 20px;
    border-radius: 5px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    color: #000;
}
.wrapper-price .values span {
    padding-left: 10px;
}

            /* * Filter Rating */
.book-rating {
    margin: 20px 0;
    position: relative;
}
.book-rating div {
    max-width: 365px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 11px 19px 11px 18px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.book-rating div > span, .book-pop div > span {
    color: #232f55;
}
.book-rating ul, .book-pop ul{
    display: none;
    position: absolute;
    max-width: 363px;
    width: 100%;
    height: 240px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    margin-top: 3px;
    z-index: 200;
}
.book-rating ul li, .book-pop ul li{
    padding: 11px 48px 11px 36px;
}
.book-rating ul li:hover, .book-pop ul li:hover{
    background-color: #f6f6f6;
    cursor: pointer;
}
.book-rating .active-ul, .book-pop .pop-ul{
    display: block;
}
.book-rating .activeicon, .book-pop .popicon{
    transform: rotate(180deg);
}
.selected {
    background-color: #ddd;
    color: #140c40;
    font-weight: 600;
}

.book-rating ul:hover .selected, .book-pop ul:hover .selected{
    background-color: #fff;
}
.selected:hover{
    background-color: #f6f6f6;
}

            /* * Book Cards * */
.book-cards{
    max-width: 880px;
    width: 100%;
}
.book-pop{
    max-width: 880px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    padding: 0 20px;
}
.book-pop div{
    max-width: 253px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 11px 19px 11px 18px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.book-pop ul{
    max-width: 253px;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 43px;
    right: 17.5px;
    color: #232f55;
}
            /* * Book Shop * */
.book-shop{
    max-width: 880px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
    place-items: center;
}
.book-body{
    padding: 0 12px 30px;
}
.book-card{
    width: 198px;
    height: 475px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.7s ease;
}
.book-card:hover{
    cursor: pointer;
    box-shadow: 2px 8px 10px rgb(214, 51, 132, 0.2);
}
.book-card img{
    width: 196px;
    height: 295px;
}
.book-card h3{
    color: #1a1a1a;
    padding: 20px 20px 8px;
    font-size: 20px;
}
.book-card:hover h3{
    color: #ff1616;
    cursor: pointer;
}
.book-card > p{
    color: #9498A7;
    font-size: 14px;
    padding: 14px 20px 15px;
}
.book-star{
    padding: 10px 20px 2px;
    color: #ff7b2e;
    font-size: 13.5px;
}
.book-review {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 2px;
}
.book-review p {
    font-size: 14px;
    color: #9498A7;
    padding-top: 8px;
}
.book-review p span {
    color: #ff7b2e;
    font-size: 12px;
}
.book-review > span {
    font-size: 22px;
    color: #ff1616;
    margin-top: -8px;
}
.book-cards .shop-btn {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.book-shop-btn {
    max-width: 185px;
    width: 100%;
    margin: 0 auto;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
}

.book-shop-btn div {
    max-width: 185px;
    width: 100%;
    height: 50px;
    padding: 17px 39px;
    border-radius: 30px;
    border: 1px solid #ff1616;
    margin: 0 auto;
    color: #ff1616;
    background: linear-gradient(to top, #fff 50%, #ff1616 50%);
    background-size: 100% 200%;
    background-position: bottom;
    transition: background-position 0.5s ease-in-out;
}

.book-shop-btn:hover div {
    background-position: top;
    cursor: pointer;
    color: #fff;
}

            /* * Join Newsletter * */
.join-section{
    width: 100%;
    height: 351px;
}
.join{
    max-width: 1320px;
    width: 100%;
    height: 351px;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    background: url(images/imagesd.png);
    margin: 0 auto;
    padding-top: 100px;
}
.join-card{
    max-width: 660px;
    width: 100%;
    height: 130px;
    text-align: center;
}
.join-card h1{
    color: #fff;
    font-size: 40px;
    margin-bottom: 22px;
}
.join-card p{
    color: #9498A7;
    margin-bottom: 21px;
}
.join-card input{
    padding: 15px 24px;
    border-radius: 30px;
}
.join-card button{
    color: #fff;
    background-color: #ff1616;
    padding: 15px 26px;
    margin-left: 5px;
    border-radius: 30px;
}
        /* * Footer * */
footer{
    width: 100%;
    height: 450px;
}
.footer-grid {
    max-width: 1320px;
    width: 100%;
    height: 450px;
    padding: 100px 12px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
    place-items: center;
}
.footer-card{
    max-width: 400px;
    width: 100%;
    height: 290px;
}
.footer-card img{
    margin-bottom: 25px;
}
.footer-card p{
    color: #454e6d;
    margin-bottom: 21px;
}
.footer-icon ul{
    display: flex;
    gap: 8px;
}
.footer-icon ul li a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #EEE1E0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9498A7;
    background-color: #fff;
    transition: transform all 0.3s ease-out 0s;
}
.footer-icon ul li a:hover{
    color: #fff;
    background-color: #ff1616;
    border: 1px solid transparent;
}
.footer-card h1{
    font-size: 17px;
    margin-bottom: 40px;
    color: #232f55;
    text-align: center;
}
.footer-category ul li{
    margin-bottom: 15px;
    text-align: center;
}
.footer-category ul li a{
    font-size: 14px;
    color: #212529;
    text-decoration: none;
    transition: transform all 0.7s ease-out ;
}
.footer-category ul li a:hover{
    text-decoration: underline;
}
.footer-mt{
    margin-top: 61px;
}
        /* * Best Selling * */
.best-section{
    width: 100%;
    height: 750px;
    padding: 95px 12px 100px;
    background-color: #fef4f4;
}
.best-heading{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto 50px;
}
.best-heading h1{
    font-size: 30px;
    color: #1a1a1a;
    text-align: center;
}
.best-body{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
}
.best-flex{
    max-width: 1240px;
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
    overflow-x: hidden;
    position: relative;
}

.best-flex::-webkit-scrollbar {
    display: none;
}
.best-left {
    width: 60px;
}
.best-right {
    width: 60px;
}
.best-left, .best-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.best-left i, .best-right i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    color: #4c4c4c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.best-left i:hover, .best-right i:hover{
    cursor: pointer;
    color: #ff1616;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.book-card {
    opacity: 0;
    transform: translateY(20px); 
    animation: fadeIn 0.5s ease forwards; 
}

            /* * Responsive ayarlar * */
@media (max-width: 768px) {
    .navbar{
        flex-wrap: wrap;
    }
    .navbar-card {
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar-card form input{
        width: 100%;
        padding-right: 60px;
    }
    .nav-link ul {
        gap: 20px;
        justify-content: center;
    }
    
        /* * Nav-Menu Hamburger * */
    header{
        background-color: #4c4c4c;
    }
    header .nav-menu {
        justify-content: flex-start;
        padding-top: 60px;
        height: auto;
    }
    .nav-header {
        display: inherit;
        padding: 1rem;
        position: absolute;
        right: 0;
    }
    header .nav-menu ul ul{
        height: auto;
    }
    .nav-menu ul{
        width: 100%;
        flex-direction: column;
        background-color: #4c4c4c;
        padding: 0px;
        height: 0;
        overflow: hidden;
    }
    .nav-menu ul li{
        padding: 7px 10px;
        margin: 5px 10px;
        border-radius: 7px;
    }
    .nav-menu ul li:hover{
        background-color: #cccccc;
    }
    .nav-menu ul li a{
        color: #fff;
    }
    .nav-menu ul li a i{
        display: inherit;
    }
    .nav-pages {
        height: 30px;
        overflow: hidden;
    }
    .nav-pages ul {
        padding: 10px 0px;
        position: relative;
        width: 100%;
        top: 0%;
        margin-top: 10px;
        background-color: #4c4c4c;
        border-radius: 0;
        height: 0;
        overflow: hidden;
        z-index: 100;
    }
    .nav-pages ul li a{
        color: #fff;
    }
    .nav-pages ul li{
        width: 97%;
        padding: 6px 10px ;
    }
    .nav-toggle{
        padding: 3px 10px;
        background-color: #0b1c39;
        color: #fff;
        border: none;
        border-radius: 5px;
    }
    .nav-menu ul > li:nth-child(4){
        position: relative;
        padding: 7px 0 0;
        border: none;
    }
    .nav-menu  ul > li:nth-child(4) > a{
        display: flex;
        padding: 0 500px 0 10px;
        position: relative;
        gap: 5px;
        top: 0px;
    }
    .nav-pages ul > li:nth-child(4) {
        position: relative;
        top: 0;
        padding-bottom: 5px;
    }
    header .show-links{
        height: auto;
        transition: all 0.3s ease;
    }  
    .show-page{
        height: auto;
    }
    .slider-card h1 {
        max-width: 300px;
        width: 100%;
        font-size: 45px;
    }
    .book-grid{
        grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
        place-items: center;
    }
}
@media (max-width: 400px) {
    .slider-card h1 {
        font-size: 35px;
    }
    .book-grid{
        grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    }
    /* * Join */
    .join-section{
        height: 440px;
    }
    .join{
        height: 440px;
        
    }
    .join-card button{
        margin-top: 10px;
    }
}