/* * Genel ayarlar * */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}   

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* * Navbar stil ayarları * */
nav {
    width: 100%;
    min-height: 90px;
    padding-top: 20px;
    background-color: #fff;
}

.navbar {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 12px;
    margin: 0 auto;
    gap: 10px;
    
}

.nav-logo{
    padding: 5px 0;
    cursor: pointer;
}

.navbar-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.navbar-card form {
    position: relative;
}

.navbar-card form input {
    width: 400px;
    padding: 15px 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #3333338e;
}

.navbar-card form i {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #ff1616;
    cursor: pointer;
}

.nav-link ul {
    display: flex;
    max-width: 388px;
    width: 100%;
    color: #454e6d;
    gap: 33px;
    justify-content: flex-end;
}

.nav-link ul li {
    padding: 15px 0;
    text-align: center;
}
.nav-link ul li a {
    color: #232f55;
}
.nav-link ul li a:hover{
    color: #ff1616;
}

.nav-link ul li a img {
    width: 20px;
    margin-top: -2px;
}

.sign-btn .button {
    margin-top: -15px;
    background-color: #ff1616;
    border-radius: 28px;
    padding: 5px 34px;
    color: #fff;
    background: linear-gradient(to right, #e21414 50%, #ff1616 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.4s ease-out;
}

.sign-btn .button:hover {
    background-position: left bottom;
    cursor: pointer;
}

.sign-btn .button div {
    padding: 10px;
    border-radius: 28px;
    transition: background-position 0.5s ease-in-out;
}

.sign-btn .button:hover div {
    background-size: 200% auto;
    background-position: left center;
}
            /* * Nav-Menu * */
header {
    width: 100%;
    height: 64px;
    background-color: #fef4f4;
    position: relative;
    z-index: 1000;
}

header .nav-menu {
    display: flex;
    justify-content: center;
    height: 0;
    padding-top: 25px;
}

.nav-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li {
    padding: 0px 20px 40px;
    position: relative;
}
.nav-menu  ul li a {
    color: #232f55;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.4s;
}


.nav-menu ul li:hover > a {
    color: #ff1616;
}
.nav-menu ul li:hover{
    cursor: pointer;
}
.nav-pages ul {
    display: none;
    position: absolute;
    top: 95%;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.nav-menu ul li:hover > ul {
    display: inherit;
}

.nav-pages ul li {
    width: 170px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
.nav-pages ul li:hover{
    letter-spacing: 1px;
    cursor: pointer;
}
.nav-pages ul li:hover a{
    color: #ff1616;
}
.nav-pages ul li a {
    color: #0b1c39;
    font-weight: 600;
    font-size: 14px;
}
.nav-menu ul li a i{
    display: none;
}
        /* * Nav-Menu hamburger * */
.nav-header {
    display: none;
}
.nav-toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

            /* * Slider * */
.slider-section {
    width: 100%;
    height: 580px;
    background-color: #fef4f4;
    padding: 0 20px;
}

.sliders {
    max-width: 1320px;
    width: 100%;
    height: 580px;
    margin: 0 auto;
    padding: 0 12px;
    position: relative;
}

.slider {
        display: none;
}

.slider.active {
    display: block;
    position: relative; 
}

.slider img {
    max-width: 1320px;
    width: 100%;
    height: 580px;
    position: absolute;
    z-index: 1;
}

.slider-card {
    max-width: 400px;
    width: 100%;
    height: 435px;
    margin: 0 auto;
    position: relative;
    padding-top: 146px;
    overflow: hidden;
    z-index: 1;
    animation: slideIn 1s ease-in-out;
}

.slider-science {
    width: 128px;
    font-size: 14px;
    padding: 6px 17px;
    border-radius: 30px;
    background-color: #ffffff;
    margin: 40px auto 20px;
    transform: translateY(-40px);
    transition: transform 0.7s ease-in-out;
}

.slider-science p {
        width: 128px;
        color: #1a1a1a;
}

.slider-card h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin: 150px auto 34px ;
    font-family: 'Playfair Display', sans-serif;
    transform: translateY(-160px);
    transition: transform 0.7s ease-in-out;
    font-weight: 600;
}

.slider-btn {
    width: 200px;
    margin: 0 auto 0;
    transform: translateY(-170px);
    transition: transform 0.7s ease-in-out;
    border-radius: 35px;
    position: relative;
}
.slider-btn:hover {
    background-position: left bottom;
    cursor: pointer;
}
.slider-btn div {
    width: 200px;
    padding: 25px 25px;
    border-radius: 35px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(to right, #e21414 50%, #ff1616 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.7s ease-out;
    transition: background-position 0.5s ease-in-out;
    position: absolute;
    animation: slideBtn 0.7s ease-in-out;
}            
.slider-btn:hover div {
    background-size: 200% auto;
    background-position: left center;
    cursor: pointer;
}
@keyframes slideBtn{
    0% {
        transform: scale(1);
        opacity: 0;
    }
    25%{
        transform: scale(0.7);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes slideIn {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.slider-circle-btn {
    display: flex;
    position: absolute;
    margin-top: 100px;
    z-index: 10;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}
.slider-circle-btn li{
    padding: 0 5px;
    position: relative;
}
.slider-circle-btn li button{
    border-radius: 50%;
    border: none;
    position: relative;
    background-color: transparent;
    cursor: pointer;
}
.slider-circle-btn li button .box {
    display: none;
    font-size: 27px;
    position: absolute;
    color: #fff;
    transition: all 0.3s ease;
}
    
.slider-circle-btn li button.active .box {
    display: block;
}
.slider-circle-btn li button .dot{
    font-size: 8px;
    color: #fff;
    margin: 9.5px ;
}

            /* * Responsive ayarlar * */
@media (max-width: 768px) {
    .navbar{
        flex-wrap: wrap;
    }
    .navbar-card {
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar-card form input{
        width: 100%;
        padding-right: 60px;
    }
    .nav-link ul {
        gap: 20px;
        justify-content: center;
    }

        /* * Nav-Menu Hamburger * */
    header{
        background-color: #4c4c4c;
    }
    header .nav-menu {
        justify-content: flex-start;
        padding-top: 60px;
        height: auto;
    }
    .nav-header {
        display: inherit;
        padding: 1rem;
        position: absolute;
        right: 0;
    }
    header .nav-menu ul ul{
        height: auto;
    }
    .nav-menu ul{
        width: 100%;
        flex-direction: column;
        background-color: #4c4c4c;
        padding: 0px;
        height: 0;
        overflow: hidden;
    }
    .nav-menu ul li{
        padding: 7px 10px;
        margin: 5px 10px;
        border-radius: 7px;
    }
    .nav-menu ul li:hover{
        background-color: #cccccc;
    }
    .nav-menu ul li a{
        color: #fff;
    }
    .nav-menu ul li a i{
        display: inherit;
    }
    .nav-pages {
        height: 30px;
        overflow: hidden;
    }
    .nav-pages ul {
        padding: 10px 0px;
        position: relative;
        width: 100%;
        top: 0%;
        margin-top: 10px;
        background-color: #4c4c4c;
        border-radius: 0;
        height: 0;
        overflow: hidden;
        z-index: 100;
    }
    .nav-pages ul li a{
        color: #fff;
    }
    .nav-pages ul li{
        width: 97%;
        padding: 6px 10px ;
    }
    .nav-toggle{
        padding: 3px 10px;
        background-color: #0b1c39;
        color: #fff;
        border: none;
        border-radius: 5px;
    }
    .nav-menu ul > li:nth-child(4){
        position: relative;
        padding: 7px 0 0;
        border: none;
    }
    .nav-menu  ul > li:nth-child(4) > a{
        display: flex;
        padding: 0 500px 0 10px;
        position: relative;
        gap: 5px;
        top: 0px;
    }
    .nav-pages ul > li:nth-child(4) {
        position: relative;
        top: 0;
        padding-bottom: 5px;
    }
    header .show-links{
        height: auto;
        transition: all 0.3s ease;
    }  
    .show-page{
        height: auto;
    }
    .slider-card h1 {
        max-width: 300px;
        width: 100%;
        font-size: 45px;
    }
}
@media (max-width: 400px) {
    .slider-card h1 {
        font-size: 35px;
    }
}